<!DOCTYPE html>
<html>
<head>
	<meta lang="fr" />
	<meta charset="utf-8" />
	<title>Pendu</title>
	<link href="/css/pendu.css" />
	<script src="/js/lib/jquery-2.1.1.min.js"></script>
	<script src="/js/lib/underscore-min.js"></script>
	<script src="/js/pendu.js"></script>
</head>
<body>
	<div id="ensemble">
    <div id="regles">
      <button id="regles_button" type="button">Règles</button>
      <div id="regles_vue" class="pas_vue">
        <p>Manuel des règles</p>
        <div id="mode_educatif">
        </div>
      </div>
    </div>
    <div id="menu">
      <button type="button" class="bouton_menu" mode="educatif">Mode éducatif</button>
      <button type="button" class="bouton_menu" mode="fiesta">Mode fiesta</button>
    </div>
    <div id="fenetre_jeu">
    </div>
  </div>
</body>
</html>
