body{
	background-image: url("/images/fond.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

div#ensemble{
	width: 80%;
	margin-left: 10%;
}

p{
	text-color: red;
}

button{
  cursor: pointer;
}

.pas_vue{
  display: none;
}

.vue{
  display: block;
}

.lettre_decouverte, .lettre_non_decouverte{
  display: inline-block;
  text-decoration: underline;
}
